@import "reset";
@import "normalize";
@import "fluidable";
@import "mixins";
@import url('http://fonts.googleapis.com/css?family=Lato:100,400,400italic,700');

@brand-color: #dc0;
@background-color: #08d;

html {
	font-family: "Lato", sans-serif;
	color: #fff;
	background-color: @background-color;
}

a {
	color: @brand-color;
	text-decoration: none;
	.transition(color);
	&:hover {
		color: lighten(@brand-color, 30%);
		.transition(color);
	}
}

.bulleted-list() {
	margin-left: 2em;
	list-style-type: square;
}

.selection() {
	background-color: @brand-color;
	color: #fff;
	text-shadow: none;
}
::selection {
	.selection();
}
::-moz-selection {
	.selection();
}

header {
	.col-group;
	margin-top: .5em;
	margin-bottom: 1em;
	.logo {
		font-weight: 100;
		font-size: 36pt;
		text-transform: lowercase;
	}
}

nav {
	.col-group;
	li {
		.col-sixth;
		.nav-top, .nav-bottom {
			display: block;
		}
		.nav-top {
			font-weight: 700;
			font-size: 18pt;
		}
		.nav-bottom {
			font-weight: 100;
			text-transform: lowercase;
			.opacity(0);
			.transition(opacity);
			&:before {
				content: "(";
			}
			&:after {
				content: ")";
			}
		}
		&:hover {
			.nav-bottom {
				.opacity(1);
				.transition(opacity);
			}
		}
	}
}

section {
	.col-group;
	border-top: .5em solid darken(@background-color, 10%);
	border-top: .5em solid rgba(0, 0, 0, .1); // two definitions in case rgba isn't supported
	margin-top: 1.5em;
	font-size: 16px;
	h1 {
		margin-left: 0;
		font-weight: 100;
		&:before {
			margin-right: .5em;
			content: "//";
		}
	}
	p, ul, ol {
		line-height: 1.5em;
	}
	p {
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	img.floated {
		float: left;
		margin: 0 1em 1em 0;
		border: 1px solid #fff;
	}
	.sortable {
		&:before {
			content: "show: ";
		}
		li {
			display: inline-block;
			padding: 0 1em 1em 1em;
			input {
				margin-right: .25em;
			}
		}
	}
}

section#oldie {
	h1 {
		font-weight: bold;
		color: red;
	}
}

section#pix {
	ul.gallery {
		.col-group;
		margin: 0;
		li {
			.columns(4);
			img {
				display: block;
				width: 100%;
				.center-block;
				border: 1px solid #fff;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	ul.gallery {
		li {
			.col-third;
			display: none;
		}
	}
}

section#txt {
	ul {
		.bulleted-list();
	}
}

section#pod {
	ul {
		.bulleted-list();
	}
}

section#irl {
	ul {
		.bulleted-list();
		li {
			.name {
				font-weight: 700;
			}
			.place {
				&:before, &:after {
					content: "/";
					margin: 0 1em;
				}
			}
			.date {
				font-weight: 100;
			}
		}
	}
}

section#sup {
	ul {
		.bulleted-list();
	}
}
